.home-header {
  font-size: 34px;
  display: flex;
  align-items: center;
  height: 100%;

  .home-header-logo {
    .icon-react,
    .icon-plus,
    .icon-typescript {
      margin-right: 5px;
      font-size: inherit;
    }

    .icon-react {
      color: #61dafb;
    }

    .icon-plus {
      color: #deb887;
    }

    .icon-typescript {
      color: blue;
    }
  }

  .home-header-title {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    margin-right: auto;
  }

  .home-header-space {
    margin-left: 20px;
  }
}

.home-aside {
  height: calc(100vh - 64px);
}

.home-breadcrumb {
  background: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.home-main {
  margin-top: 20px;
  background: #fff;
  flex-grow: 1;
  position: relative;
}
